.alert_div {
    animation-name: alertmove;
    animation-duration: 1s;
}

@keyframes alertmove {
    0% {
        opacity: 0;
        transform: translateX(75px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}